<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">

    <title>Component - Card | Califórnia TV</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Descrição breve e atraente da página, incluindo a palavra-chave principal.">
    <meta name="keywords" content="palavra-chave1, palavra-chave2, palavra-chave3">
    <meta name="robots" content="index, follow">

    <!-- Meta tags Open Graph -->
    <meta property="og:title" content="Título da página">
    <meta property="og:description" content="Descrição da página ou artigo.">
    <meta property="og:image" content="https://example.com/imagem.jpg">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website"> <!-- Tipo de conteúdo: website, article, etc. -->
    <meta property="og:site_name" content="Nome do site">
    <meta property="og:locale" content="pt_BR"> <!-- Idioma -->

    <!-- Meta tags Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image"> <!-- Tipos: summary, summary_large_image, app, player -->
    <meta name="twitter:title" content="Título da página">
    <meta name="twitter:description" content="Descrição da página ou artigo.">
    <meta name="twitter:image" content="https://example.com/imagem.jpg">
    <meta name="twitter:site" content="@username"> <!-- Conta Twitter do site -->
    <meta name="twitter:creator" content="@autor"> <!-- Conta Twitter do autor -->

    <!-- Meta tags para Pinterest -->
    <meta name="pinterest-rich-pin" content="true">

    <!-- Favicon padrão (.ico) -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- CSS STYLE -->
    <link rel="stylesheet" href="../assets/css/import.css">

    <!-- Schema.org Markup para SEO -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "headline": "Título do Artigo",
          "description": "Descrição do artigo.",
          "author": {
            "@type": "Person",
            "name": "Nome do Autor"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Nome do Site",
            "logo": {
              "@type": "ImageObject",
              "url": "https://example.com/logo.jpg"
            }
          },
        }
        </script>
</head>
<body style="display: grid; place-items: center; background-color: var(--color-black);">

  <div class="list-cards" style="display: flex; flex-wrap: wrap; gap: 10px; align-items: center; justify-content: center;">
    <div class="card" flag="Exclusivo" movie>
      <a href="#">
        <picture>
          <!-- Imagem para telas de alta densidade (ex.: Retina) -->
          <source srcset="https://fs.fpass.com.br/4fe37df4-4642-4ac4-b6f1-e3ac8989eea8_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
          
          <!-- Imagem para tablets ou telas medianas -->
          <source srcset="https://fs.fpass.com.br/4fe37df4-4642-4ac4-b6f1-e3ac8989eea8_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
          
          <!-- Imagem para smartphones ou telas pequenas -->
          <source srcset="https://fs.fpass.com.br/4fe37df4-4642-4ac4-b6f1-e3ac8989eea8_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
          
          <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
          <img src="https://fs.fpass.com.br/4fe37df4-4642-4ac4-b6f1-e3ac8989eea8_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
        </picture>
  
        <div class="txt">
          <p>Jogos de Verão - Parte 2</p>
        </div>
      </a>
    </div>

    <div class="card" flag="Gratuito">
      <a href="#">
        <picture>
          <!-- Imagem para telas de alta densidade (ex.: Retina) -->
          <source srcset="https://fs.fpass.com.br/ecc4b769-054d-4ca0-9d98-c997733bb76f_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
          
          <!-- Imagem para tablets ou telas medianas -->
          <source srcset="https://fs.fpass.com.br/ecc4b769-054d-4ca0-9d98-c997733bb76f_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
          
          <!-- Imagem para smartphones ou telas pequenas -->
          <source srcset="https://fs.fpass.com.br/ecc4b769-054d-4ca0-9d98-c997733bb76f_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
          
          <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
          <img src="https://fs.fpass.com.br/ecc4b769-054d-4ca0-9d98-c997733bb76f_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
        </picture>
  
        <div class="txt">
          <p>Sophie Buttini: Intimate de Verão</p>
        </div>
      </a>
    </div>

    <div class="card" movie>
      <a href="#">
        <picture>
          <!-- Imagem para telas de alta densidade (ex.: Retina) -->
          <source srcset="https://fs.fpass.com.br/7bb2d886-5bc3-461d-97ed-3dbeb99e7697_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
          
          <!-- Imagem para tablets ou telas medianas -->
          <source srcset="https://fs.fpass.com.br/7bb2d886-5bc3-461d-97ed-3dbeb99e7697_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
          
          <!-- Imagem para smartphones ou telas pequenas -->
          <source srcset="https://fs.fpass.com.br/7bb2d886-5bc3-461d-97ed-3dbeb99e7697_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
          
          <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
          <img src="https://fs.fpass.com.br/7bb2d886-5bc3-461d-97ed-3dbeb99e7697_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
        </picture>
  
        <div class="txt">
          <p>Iasmin Santana: Intimate de Verão</p>
        </div>
      </a>
    </div>

    <div class="card">
      <a href="#">
        <picture>
          <!-- Imagem para telas de alta densidade (ex.: Retina) -->
          <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
          
          <!-- Imagem para tablets ou telas medianas -->
          <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
          
          <!-- Imagem para smartphones ou telas pequenas -->
          <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
          
          <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
          <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
        </picture>
  
        <div class="txt">
          <p>Bastidores Verão: Dia 1</p>
        </div>
      </a>
    </div>
  </div>

</body>
</html>  