<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">

    <title>Component - Gallery | Califórnia TV</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Descrição breve e atraente da página, incluindo a palavra-chave principal.">
    <meta name="keywords" content="palavra-chave1, palavra-chave2, palavra-chave3">
    <meta name="robots" content="index, follow">

    <!-- Meta tags Open Graph -->
    <meta property="og:title" content="Título da página">
    <meta property="og:description" content="Descrição da página ou artigo.">
    <meta property="og:image" content="https://example.com/imagem.jpg">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website"> <!-- Tipo de conteúdo: website, article, etc. -->
    <meta property="og:site_name" content="Nome do site">
    <meta property="og:locale" content="pt_BR"> <!-- Idioma -->

    <!-- Meta tags Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image"> <!-- Tipos: summary, summary_large_image, app, player -->
    <meta name="twitter:title" content="Título da página">
    <meta name="twitter:description" content="Descrição da página ou artigo.">
    <meta name="twitter:image" content="https://example.com/imagem.jpg">
    <meta name="twitter:site" content="@username"> <!-- Conta Twitter do site -->
    <meta name="twitter:creator" content="@autor"> <!-- Conta Twitter do autor -->

    <!-- Meta tags para Pinterest -->
    <meta name="pinterest-rich-pin" content="true">

    <!-- Favicon padrão (.ico) -->
    <link rel="icon" href="../favicon.ico" type="image/x-icon">

    <!-- CSS STYLE -->
    <link rel="stylesheet" href="../assets/css/import.css">

    <!-- Schema.org Markup para SEO -->
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Article",
          "headline": "Título do Artigo",
          "description": "Descrição do artigo.",
          "author": {
            "@type": "Person",
            "name": "Nome do Autor"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Nome do Site",
            "logo": {
              "@type": "ImageObject",
              "url": "https://example.com/logo.jpg"
            }
          },
        }
        </script>

      <style>
        .container-center {
          max-width: 1366px;
          width: 100vw;
        }

        @media screen and (max-width: 1366px) {
          .container-center {
            max-width: 100%;
          }
        }
      </style>
</head>
<body style="display: grid; place-items: center; background-color: var(--color-black);">


  
<div class="container-center">
  <section class="content-gallery">
    <header>
      <img src="https://apis.fpass.com.br/media/f012b1d7-4f3f-4618-a3c3-64b76f083202.png?width=64&height=64" alt="">
      <div class="content-header">
        <h1>Verão da California</h1>
        <a href="#" teste="tomato">Acessar Canal</a>
      </div>
    </header>

    <div class="owl-carousel-container">
      <div class="gallery owl-carousel" data-gallery="1">
        <div class="card" flag="Gratuito" movie>
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Exclusivo">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
    
        <div class="card" flag="Gratuito">
          <a href="#">
            <picture>
              <!-- Imagem para telas de alta densidade (ex.: Retina) -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 1200px)">
              
              <!-- Imagem para tablets ou telas medianas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(min-width: 768px)">
              
              <!-- Imagem para smartphones ou telas pequenas -->
              <source srcset="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" media="(max-width: 767px)">
              
              <!-- Imagem padrão caso nenhuma das condições anteriores seja atendida -->
              <img src="https://fs.fpass.com.br/aa2ab1c6-4eb5-4ca2-ac20-627846cb9867_97e4247afdca6789b46c4c6725e3f37006717b7a.webp" alt="Descrição da imagem">
            </picture>
      
            <div class="txt">
              <p>Bastidores Verão: Dia 1</p>
            </div>
          </a>
        </div>
      </div>
      <button class="prev-gallery" data-gallery="1">
        <svg height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M685.248 104.704a64 64 0 0 1 0 90.496L368.448 512l316.8 316.8a64 64 0 0 1-90.496 90.496L232.704 557.248a64 64 0 0 1 0-90.496l362.048-362.048a64 64 0 0 1 90.496 0z"/></svg>
      </button>
      <button class="next-gallery" data-gallery="1">
        <svg  height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"><path fill="#000000" d="M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0z"/></svg>
      </button>
    </div>
  </section>
</div>


<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/owl.carousel.min.js"></script>
<script src="../assets/js/script.js"></script>
</body>
</html>  