:root {
    --card-space-elements: 1rem;
}

.card,
.card * {
    --anime-time: .4s;
    -webkit-transition: var(--anime-property, all) var(--anime-time, .3s) var(--anime-function, ease-in-out);
    -moz-transition: var(--anime-property, all) var(--anime-time, .3s) var(--anime-function, ease-in-out);
    -ms-transition: var(--anime-property, all) var(--anime-time, .3s) var(--anime-function, ease-in-out);
    -o-transition: var(--anime-property, all) var(--anime-time, .3s) var(--anime-function, ease-in-out);
    transition: var(--anime-property, all) var(--anime-time, .3s) var(--anime-function, ease-in-out);
}

.card {
    border-radius: .5rem;
    height: 100vh;
    max-height: 350px;
    max-width: 274px;
    overflow: hidden;
    position: relative;
    width: 100vw;
}

.card:hover {
    /* -webkit-box-shadow: 0 0 20px 4px var(--color-black);
    box-shadow: 0 0 20px 4px var(--color-black);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); */
    z-index: 10;
}

.card img {
    filter: grayscale(0%);
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 1.2s ease;
    width: 100vw;
}

.card:hover img {
    filter: grayscale(60%);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 1s ease;
}

.card .txt {
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0, .9) 64%);
    bottom: -100%;
    left: 0;
    opacity: 0;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.card:hover .txt {
    bottom: 0;
    opacity: 1;
}

.card .txt p {
    color: hsla(0, 0%, 100%, 1);
    font-family: 'Gotham Bold';
    font-size: 1rem;
    line-height: 1.6rem;
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, .8);
}

.card[flag]::before {
    background-color: var(--color-primary);
    -webkit-box-shadow: 0 0 20px 4px hsla( 0, 0%, 0%, .3);
    box-shadow: 0 0 20px 4px hsla( 0, 0%, 0%, .3);
    color: hsla(0, 0%, 100%, 1);
    content: attr(flag);
    font-family: 'Gotham Medium';
    font-size: .7rem;
    padding: 2.6rem 2.6rem .6rem 2.6rem;
    position: absolute;
    top: -1.2rem;
    -moz-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
    left: -3.2rem;
    z-index: 3;
}

.card[flag="Exclusivo"]::before {
    background-color: hsla(52, 100%, 57%, 1);
    color: var(--color-black)
}

.card[movie]::after {
    color: hsla(0, 0%, 100%, 1);
    content: url('data:image/svg+xml,<svg height="16" viewBox="0 0 160 50" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="7" y="7" width="16" height="36" rx="2" fill="%23EC136D"/><rect x="28" y="7" width="16" height="36" rx="2" fill="%23EC136D"/><path d="M61.2148 39L50.9805 10.3672H57.25L64.4961 31.5586L71.5078 10.3672H77.6406L67.3867 39H61.2148ZM80.5508 39V18.2578H86.0391V39H80.5508ZM80.1406 15.7188L82.8359 9.87891H88.9883L83.6172 15.7188H80.1406ZM110.707 39H105.609V35.9531C104.763 37.138 103.76 38.0234 102.602 38.6094C101.456 39.1823 100.297 39.4688 99.125 39.4688C96.7422 39.4688 94.6979 38.5117 92.9922 36.5977C91.2995 34.6706 90.4531 31.9883 90.4531 28.5508C90.4531 25.0352 91.2799 22.3659 92.9336 20.543C94.5872 18.707 96.6771 17.7891 99.2031 17.7891C101.521 17.7891 103.526 18.7526 105.219 20.6797V10.3672H110.707V39ZM96.0586 28.1797C96.0586 30.3932 96.3646 31.9948 96.9766 32.9844C97.862 34.4167 99.099 35.1328 100.688 35.1328C101.951 35.1328 103.025 34.599 103.91 33.5312C104.796 32.4505 105.238 30.8424 105.238 28.707C105.238 26.3242 104.809 24.612 103.949 23.5703C103.09 22.5156 101.99 21.9883 100.648 21.9883C99.3464 21.9883 98.2526 22.5091 97.3672 23.5508C96.4948 24.5794 96.0586 26.1224 96.0586 28.1797ZM128.148 32.3984L133.617 33.3164C132.914 35.3216 131.801 36.8516 130.277 37.9062C128.767 38.9479 126.872 39.4688 124.594 39.4688C120.987 39.4688 118.318 38.2904 116.586 35.9336C115.219 34.0456 114.535 31.6628 114.535 28.7852C114.535 25.3477 115.434 22.6589 117.23 20.7188C119.027 18.7656 121.299 17.7891 124.047 17.7891C127.133 17.7891 129.568 18.8112 131.352 20.8555C133.135 22.8867 133.988 26.0052 133.91 30.2109H120.16C120.199 31.8385 120.642 33.1081 121.488 34.0195C122.335 34.918 123.389 35.3672 124.652 35.3672C125.512 35.3672 126.234 35.1328 126.82 34.6641C127.406 34.1953 127.849 33.4401 128.148 32.3984ZM128.461 26.8516C128.422 25.263 128.012 24.0586 127.23 23.2383C126.449 22.4049 125.499 21.9883 124.379 21.9883C123.181 21.9883 122.191 22.4245 121.41 23.2969C120.629 24.1693 120.245 25.3542 120.258 26.8516H128.461ZM137.133 28.3359C137.133 26.513 137.582 24.7487 138.48 23.043C139.379 21.3372 140.648 20.0352 142.289 19.1367C143.943 18.2383 145.785 17.7891 147.816 17.7891C150.954 17.7891 153.526 18.8112 155.531 20.8555C157.536 22.8867 158.539 25.4583 158.539 28.5703C158.539 31.7083 157.523 34.3125 155.492 36.3828C153.474 38.4401 150.928 39.4688 147.855 39.4688C145.954 39.4688 144.138 39.0391 142.406 38.1797C140.688 37.3203 139.379 36.0638 138.48 34.4102C137.582 32.7435 137.133 30.7188 137.133 28.3359ZM142.758 28.6289C142.758 30.6862 143.246 32.2617 144.223 33.3555C145.199 34.4492 146.404 34.9961 147.836 34.9961C149.268 34.9961 150.466 34.4492 151.43 33.3555C152.406 32.2617 152.895 30.6732 152.895 28.5898C152.895 26.5586 152.406 24.9961 151.43 23.9023C150.466 22.8086 149.268 22.2617 147.836 22.2617C146.404 22.2617 145.199 22.8086 144.223 23.9023C143.246 24.9961 142.758 26.5716 142.758 28.6289Z" fill="white"/></svg>');
    font-family: 'Gotham Bold';
    font-size: .8rem;
    opacity: .7;
    padding: .4rem;
    position: absolute;
    top: var(--card-space-elements, 1rem);
    right: var(--card-space-elements, 1rem);
    z-index: 3;
}
.card[movie]:hover::after {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
   
}