footer {
    max-width: 100%;
    width: 100vw;
}

footer > .container {
    padding: 2rem 1rem;
    gap: 2rem;
}

footer img {
    max-width: 180px;
}

.logo-footer {
    align-items: center;
    display: flex;
}

.menu-footer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

footer nav {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

footer nav a {
    color: hsla(0, 0%, 100%, .8);
    font-size: .7rem;
    text-transform: uppercase;
}

footer nav a:hover {
    color: hsla(0, 0%, 100%, 1);
}

footer .copy {
    align-items: center;
    background-color: hsla(0, 0%, 10%, 1);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.txt-copy {
    align-items: center;
    display: flex;
}

.txt-copy p {
    --p-font-size: 0.75rem;
}

.social-list {
    align-items: center;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: 100%;
}

.social-list a:hover {
    opacity: .8;
}

.social-list svg {
    fill: #FFFFFF;
    max-width: 20px;
    width: 100vw;
}

@media only screen and (max-width: 768px) {
    .txt-copy {
        order: 2;
    }

    footer nav {
        gap: 1rem;
    }

    .txt-copy,
    .social-list,
    .menu-footer,
    .logo-footer {
        justify-content: center;
    }
}