.owl-carousel-container {
    position: relative;
}

.owl-carousel-container:hover button {
    display: flex;
}

.owl-carousel-container button {
    background-color: hsla(0, 0%, 0%, .8);
    border: none;
    border-radius: 0;
    display: none;
    height: 100vh;
    max-height: 100%;
    padding: 1rem 1.4rem;
    position: absolute;
    opacity: .8;
    top: 0;
    width: auto;
    z-index: 10;
}

.owl-carousel-container button.disabled {
    background-color: hsla(0, 0%, 0%, .4);
    color: hsla(0, 0%, 0%, .8);
}

.owl-carousel-container button.prev-gallery {
    left: 0;
}

.owl-carousel-container button.next-gallery {
    right: 0;
}