h1 {
    color: var(--h1-color, hsla(0, 0%, 100%, 1));
    font-family: var(--h1-font-family, 'Gotham Bold');
    font-size: var(--h1-font-size, 1.75rem);
}

@media only screen and (max-width: 768px) {
    h1 {
        --h1-font-size: 1.125rem;
    }
}